.control {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    padding-top: 12px;
    padding-left: 10px;
}
.control__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto 0;
}

.control__input {
    height: 32px;
    position: relative;
    width: 60px;
}

.control__input_rounded {
    border-radius: 10px;
    border: none;
}
.control__label {
    /* display: block; */
    /* margin: auto 14px; */
}

